* {
    /* border: 2px solid black; */
}

body {
    background-color: #ddcd96;
    font-family: 'Noto Sans Mono', monospace;
}
/* Navbar custom changes */
.bg-light {
    --bs-bg-opacity: 1;
    background-color: (rgba(52, 16, 74, 0.75),var(--bs-bg-opacity)) !important;
}
.logo-img {
    background: url("../images/logo.png") no-repeat;
    width: 500px;
    height: 125px;
}


#menu-btns li a{
    text-decoration: none;
    font-size: 1.4em;
    color: #47424f;
    margin: 0 10px;
}

#menu-btns li a:hover{
    color: #ddcd96;
    background-color: #47424f;
    border-radius: 15px;
    transition: ease;
}

.navbar button.navbar-toggler {
    border: 2px solid #47424f;
    color: #47424f;
}

.image-container img {
    border-radius: 50%;
}

/* Media queries */

/* For large Screens */
@media (min-width: 1200px) {

}

/* for medium screens */
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/* For small screens */
@media (min-width: 768px) and (max-width: 991px) {
    .logo-img {
        background: url("../images/logo-md.png") no-repeat;
        width: 250px;
        height: 63px;
    }
    /* .logo-img {
        background: url("../images/logo-sm.png") no-repeat;
        width: 75px;
        height: 75px;
    } */
}

/* For extra Small screens */
@media (max-width: 767px) {
    .logo-img {
        background: url("../images/logo-sm.png") no-repeat;
        width: 75px;
        height: 75px;
    }
}