body {
  background-color: #ddcd96;
  width: 96vw;
  margin: 0 auto;
  padding: 0 20px 20px 20px;;
}

.titlediv {
    background-color: #ddcd96;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.titleImage {
    margin: 3vw auto 0 auto;
}
.titleImage img{
    border-radius : 50%;
}

.titleText {
    font-size: 8vw;
    font-weight: 1000;
    font-family: 'Noto Sans Mono', monospace;
    margin: 3vw;
    text-align: center;
}

.titleText  a {
    text-decoration: none;
    color: #47424f;
}
