body {
    font-size: 120%;
    background-color: #ddcd96;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    padding: 0.1em 2em;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 1em;
    color: #47424f;
    font-family: 'Noto Sans Mono', monospace;
}

.menu li {
    padding: 0.1em;
    list-style: none;
}
.menu a {
    text-decoration: none;
    color: #47424f;
}

.menu li:hover {
    font-weight: bold;
    background-color: #47424f;
    border-radius: 0.5em;
    transition: 0.3s ease-in-out;
}

.menu li:hover a {
    color: #ddcd96;
}
.logo {
    font-size: 1.5em;
    font-family: 'Noto Sans Mono', monospace;
}

.logo .big-letters {
    font-size: 1.5em;
}

.logo a {
    text-decoration: none;
    color: #47424f;
}

/* Disappearing checkbox */
input[type=checkbox]{
    display: none;
}

.hamburger {
    display: none;
    font-size: 1.2em;
    user-select: none;
}

/* Middle part (Centre Image and The bottom Name) */
.titlediv {
    background-color: #ddcd96;
    width: 100%;
    top: auto;
    padding: 2rem 1rem;
    margin: 0 auto;
    text-align: center;
}

.titleImage {
    margin: 3em auto 0 auto;
}
.titleImage img{
    border-radius : 50%;
    height: auto;
}

.titleText {
    font-size: 6em;
    font-weight: 1000;
    font-family: 'Noto Sans Mono', monospace;
    margin: 0.5em auto;
    text-align: center;
}

.titleText  a {
    text-decoration: none;
    color : #47424f;
}


div.construction {
    text-align: center;
    font-size: 5rem;
    color: red;
}
